/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #0f13df;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}


nav ul li a:hover {
    text-decoration: underline !important;
}

details {
    padding: 20px;
    margin: 25px;
    display: none;
    background-color: #0f13df;
}

details.show {
    display: block;
    opacity: 1;
}

section {
    padding: 20px;
    margin: 25px;
    background-color: #99b0fc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.1);
    color: black;
}

h2 {
    color: #4e4e4e;
}

h3 {
    color: #4e4e4e;
}

footer {
    background-color: #0f13df;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header, footer{
        padding: 10px;
    }
    
    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    
    section {
        padding: 10px;
        margin: 10px;
    }
}


